# Generated build files
*.idb
*.pdb

# Ignore executables and links needed for windows development
/**/db_d.*
/**/game_d.*
/db/data*
/db/locale*
/db/conf*
/auth/public*
/auth/data*
/auth/locale*
/auth/conf*
/channel*/**/public*
/channel*/**/data*
/channel*/**/locale*
/channel*/**/conf*
!/**/CONFIG
!/**/conf.txt

# Generated log files
/**/log/
/**/packet_info.txt
/**/p2p_packet_info.txt
/**/ProfileLog
/**/PTS.txt
/**/syserr.txt
/**/syslog.txt
/**/syserr
/**/syslog
/**/usage.txt

# Quest objects
/share/locale/english/quest/__pycache__
/share/locale/english/quest/qc.*
